.page main .resumeWrapper {
    width: 800px;
    margin: 50px auto;
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}
.page main.black .resumeWrapper{
    background-color: black;
}
.page main .resumeWrapper section.header {
    text-align: center;
    position: relative;
}

.page main .resumeWrapper section.header .resumeHeader {
     background-color: grey;
     height:120px;
     width:100%;
     position: relative;
     margin-bottom:20px;
 }
.page main.black .resumeWrapper{
    background-color: grey;
}
.page main.black .resumeWrapper section.header .resumeHeader{
    background-color: #444;
}
.page main .resumeWrapper section.header .resumeHeader::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    border-top: 2px solid purple;
    width:100%;
}
.page main .resumeWrapper section.header .resumeHeader h1{
    line-height: 120px;
}
.page main .resumeWrapper section.header .line{
    border: 0.1px solid;
}
.page main .resumeWrapper section.skills,
.page main .resumeWrapper section.items{
    margin:20px;
    border-top: 1px solid purple;
}
.page main .resumeWrapper section.skills h2,
.page main .resumeWrapper section.items h2{
    padding: 20px 0;
}
.page main .resumeWrapper section.skills ul{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.page main .resumeWrapper section.skills ul li{
    width:30%;
    padding: 10px 0;
    border: 1px solid #eee;
    margin: 10px;
    position: relative;
}
.page main .resumeWrapper section.skills ul li .close{
    position: absolute;
    top:0;
    right:0;
}
.page main .resumeWrapper section.items ol{
    padding: 10px;
}
.page main .resumeWrapper section.items ol li{
    border: 1px solid #eee;
    padding: 10px;
    margin: 10px 0;
    position: relative;
}
.page main .resumeWrapper section.items ol li .close{
    position: absolute;
    top: 0;
    right: 10px;
}
.page main .resumeWrapper section.items ol li h3{
    display: inline-block;
    margin: 10px 0;
}
.page main .resumeWrapper section.items ol li p{
    margin: 10px 0;
    text-indent: 20px;
}